@font-face {
  font-family: 'Hey Comic';
  src: url('./fonts/Hey\ Comic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  background-image: url(./img/patitas.png);
  background-repeat: repeat;
  background-attachment: fit-content;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px 3px black;
}

p {
  font-family: 'Hey Comic';
  font-weight: lighter;
}
.App {
  text-align: center;
  margin-top: 50px;
  background-image: url(./img/catorange.png);
  background-position: center;
  background-attachment: cover;
  background-repeat: no-repeat;
  background-size: 370px;
  width: 400px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.App h1 {
  font-size: 25px;
  padding-top: 180px;
  font-family: 'Hey Comic';
  font-style: italic;
}

.App h2 {
  font-size: 18px;
}

.links , .links:visited, .links:link{
  text-decoration: none;
  color: white;
}
.links:hover {
  color: grey;
}
.btnBack {
  width: 16px;
  height: 16px;
}
